/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  src: local("Alata Regular"), local("Alata-Regular"),
    url("./fonts/alata-v2-latin-regular.woff2") format("woff2"),
    url("./fonts/alata-v2-latin-regular.woff") format("woff");
}
